/* Here goes additional css to extend the tailwind module */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Noto+Sans+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .card:hover {
        @apply -translate-y-1 scale-[1.01] transition-transform duration-200 ease-in-out;
    }
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    gap: 0.8em;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.navbar-start {
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
}

header {
    font-family: 'Not Sans Mono', monospace;
    font-size: 14px; 
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    gap: 0.5em;
}

/* change to primary */
.router-link-exact-active {
    @apply link link-primary;
}

h1 {
    @apply max-[460px]:text-3xl text-4xl sm:text-5xl font-bold leading-none text-center mb-5 sm:mb-10;
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
}

h2 {
    @apply text-2xl;
}

p {
    margin: 0.8rem 0;
}

.badge{
    @apply hover:scale-110;
}

/* @media screen and (min-aspect-ratio: 16/10) {
    .aspect-ratio-full-width {
      background: #d18282;;
    }
  } */
  