/* Here goes additional css to extend the tailwind module */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {}

@layer components {}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    gap: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
}

.router-link-exact-active {
    color: #12b488;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    margin: 20px 0;
}

.btn.active {
    background-color: #12b488;
    color: white;
}