/* Here goes additional css to extend the tailwind module */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {}

@layer components {
    .card:hover {
        @apply -translate-y-1 scale-105 transition-transform duration-200 ease-in-out;
    }
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    gap: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
}

main {
    @apply mb-10;
}



/* change to primary */
.router-link-exact-active {
    color: #12b488;
}

h1 {
    @apply text-4xl mb-10;
}

h2 {
    @apply text-2xl;
}

p {
    margin: 20px 0;
}

.btn.active {
    background-color: #12b488;
    color: white;
}